#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  padding: 2rem;
}

.btn-change {
  background-color: rgb(180, 243, 180);
  margin-right: 10px;
}